﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataTables.AspNet Mvc5 basic integration sample</title>

    <link href="http://static.devel.herval.com.br/layout/herval/css/layout.bundle.css" rel="stylesheet" />
    <link href="http://static.devel.herval.com.br/vendors/datatable/css/datatables.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex ">
                    <a class="header-brand" href="./index.html">
                        <img src="http://static.devel.herval.com.br/images/logo/logo_herval.png" class="header-brand-img" alt="tabler logo">
                    </a>
                    <h3 class="d-none d-md-inline header-title">
                        Teste DataTable
                    </h3>
                    <div data-plugin="user-info" data-userid="371d3b0c-a8d2-4de0-a234-8f9da1c8edc7" class="d-flex order-lg-2 ml-auto">
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
      
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul id="templace" class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Home")" data-template="herval" class="nav-link @ViewData["NavHomeActive"]"><i class="fe fe-home"></i>Exemplo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Herval Single Sign On
                </div>
            </div>
        </div>
    </footer>
</div>

    <script src="http://static.devel.herval.com.br/vendors/vendors.bundle.js"></script>
    <script src="http://static.devel.herval.com.br/vendors/validation/js/validation.bundle.js"></script>
    <script src="http://static.devel.herval.com.br/vendors/datatable/js/datatables.js"></script>
    <script src="http://static.devel.herval.com.br/js/scripts.bundles.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
