﻿@{
    ViewData["Title"] = "Home Page";
}

<h2>Samples: AspNet5 Basic Integration</h2>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table" id="myTable"></table>
    </div>
</div>

@section Scripts
{ 
<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            ajax: "/home/pagedata",
            dom:
                "<'row'<'col-md-12'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-4'l><'col-sm-12 col-md-4'i><'col-sm-12 col-md-4'p>>",
            renderer: 'bootstrap',
            searching: true,
            ordering: true,
            language: {
                sEmptyTable: "Nenhum registro encontrado",
                sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                sInfoFiltered: "(Filtrados de _MAX_ registros)",
                sInfoPostFix: "",
                sInfoThousands: ".",
                sLengthMenu: "_MENU_ resultados por página",
                sLoadingRecords: "Carregando...",
                sProcessing: "Processando...",
                sZeroRecords: "Nenhum registro encontrado",
                sSearch: "Pesquisar",
                oPaginate: {
                    sNext: "Próximo",
                    sPrevious: "Anterior",
                    sFirst: "Primeiro",
                    sLast: "Último"
                },
                oAria: {
                    sSortAscending: ": Ordenar colunas de forma ascendente",
                    sSortDescending: ": Ordenar colunas de forma descendente"
                }
            },
            columns: [
                {
                    name: 'id',
                    data: 'id',
                    title: "Id",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'name',
                    data: "name",
                    title: "Name",
                    sortable: false,
                    searchable: false
                }
            ]
        });
    });
</script>
}
